*{
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;

}
body{
  background-color: rgb(28, 24, 24);
} 




:root {
    --background-color: 0, 0%, 95%;
    --btnBackground:300, 98%, 20%;
}


.textDiv_container{
width: 48rem;
height: 25rem;
position: relative;
left: 50%;
right: 50%;
top: 3rem;
transform: translate(-50%,25%);
border-bottom:1px solid hsl(var(--btnBackground));
background-color: white;

}



.tab {
    display: flex;
    background-color: #f1f1f1;
height: 6rem; 
margin-bottom: 2rem;
}

/* Style the buttons inside the tab */
.tab button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 17px;
    width: 12rem;
    height: 6rem;
    
}

.btn-container{
padding-top: .3rem;
position: relative;
bottom: .6rem;

}
.btn-container:hover{
    background-color: white;
    border-top:4px solidc;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color:hsl(var(--btnBackground));
    color: #f1f1f1;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent_container .tabcontents{
    display:'none' ;
    padding: 0 2rem;
    height: 10rem;
}


.button_click{
    background-color: #1e0606;
    width: 40rem;
    color: red;
    
}

.show{
    display: 'block';
}

.hide{
    display:'none';
}